.wrapper {
    height: 100%;
    position: relative;
}

.inner {
    background-color: var(--white);
    padding: 12px;
    position: sticky;
    top: 102px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    .subtotal,
    .discount,
    .total {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }

    .subtotal-title,
    .discount-title {
        font-size: 1.6rem;
        font-weight: var(--fw-medium);
        color: var(--gray);
    }

    .subtotal {
        .subtotal-title {
        }
        .subtotal-price {
            font-size: 1.8rem;
            font-weight: var(--fw-semi-bold);
            color: var(--text-primary);
        }
    }
    .discount {
        .discount-title {
        }
        .discount-price {
            font-size: 1.6rem;
            font-weight: var(--fw-medium);
            color: var(--gray);
        }
    }
    .total {
        border-top: 1px solid var(--border-color);
        padding-top: 16px;
        .total-title {
            font-size: 2rem;
            font-weight: var(--fw-semi-bold);
            color: var(--text-primary);
        }
        .total-price {
            font-size: 2rem;
            font-weight: var(--fw-bold);
            color: var(--text-primary);
        }
    }

    .checkout-now-btn {
    }
}
