.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("../../assets/images/repeat-background.jpg");
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Màu nền và độ mờ (opacity) */
    }
}

.inner {
    width: 600px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    .sign-up-form {
        z-index: 10;
        background-color: var(--white);
        border: 1px solid var(--border-color);
        padding: 0 24px 12px 24px;
        border-radius: 4px;
    }
    .logo-wrapper {
        margin-top: 24px;
        display: flex;
        justify-content: center;
        img {
            width: 100px;
        }
    }

    .policy-privacy {
        display: block;
        margin-bottom: 8px;
        font-size: 1.5rem;
        .highlight {
        }
        .link {
            font-weight: var(--fw-medium);
            color: var(--primary-500);
            transition: color 0.2s linear;
            cursor: pointer;
            &:hover {
                color: var(--info);
                transition: color 0.2s linear;
            }
        }
    }

    .login-question {
        display: block;
        margin-top: 12px;
        font-size: 1.5rem;
        span {
            font-weight: var(--fw-medium);
            color: var(--primary-500);
            transition: color 0.2s linear;
            cursor: pointer;
            &:hover {
                color: var(--info);
                transition: color 0.2s linear;
            }
        }
    }
}
