.image-item {
    position: relative;
    padding: 4px;
    border: 1px dashed #ccc;
    height: 160px;
    overflow: hidden;
    border-radius: 6px;
}

.button-wrapper {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    flex-direction: column-reverse;
}

.edit-btn,
.remove-btn {
    background-color: var(--white) !important;
}

.edit-btn {
    margin-bottom: 4px !important;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}