@media only screen and (max-width: 600px) {
    .slider {
        .slider-item {
            .slider-item__img {
                height: 250px !important;
            }
        }
    }
}

.home-banner-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    // padding-top: 117px;
}
.home-banner-inner {
    width: calc(100%);
}
.slider {
    .slider-item {
        transform: translate3d(0, 0, 0);
        .slider-item__img {
            height: calc(100vh - 78px);
            width: 100vw;
            object-fit: cover;
        }
    }
}
