.home-banner-wrapper {
    // background-color: var(--light-grey);
    display: flex;
    // align-items: center;
    justify-content: center;
    width: 100%;
    // position: relative;
}
.home-banner-inner {
    width: calc(100%);
}
.slider {
    .slider-item {
        transform: translate3d(0, 0, 0);
        .slider-item__img {
            height: 50vw;
            width: 100vw;
            object-fit: cover;
        }
    }
}
