.collection-wrapper,
.collection-slider-wrapper {
}
.collection-inner,
.collection-slider-inner {
    .collection-img-wrapper {
        height: 320px;
        overflow: hidden;
        .collection-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

    .collection-content-wrapper {
        padding: 24px;
        .collection-content__title {
            font-size: 2.4rem;
            text-transform: uppercase;
            transition: all 0.2s linear;
            a {
                transition: all 0.16s linear;
                &:hover {
                    transition: all 0.16s linear;
                    color: var(--primary-500);
                }
            }
        }
        .collection-content__description {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.6;
            margin-top: 12px;
        }
    }
}
