.wrapper {
    .not-found-reminder {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
            font-size: 2rem;
            font-weight: var(--fw-medium);
        }

        .back-to-home {
            margin-top: 12px;
        }
    }

    .not-found-img {
        height: 100vh;
        img {
            height: 100%;
        }
    }
}
