.user-wrapper {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

    &:hover {
        .fullName {
            span {
                text-decoration: underline;
            }
        }
    }

    .fullName {
        margin-left: 6px;
        display: flex;
        align-items: center;
        span {
            font-size: 1.5rem;
            font-weight: var(--fw-medium);
        }
    }
}

.user-avatar {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 100px;
    background-color: var(--primary-200);
    border: 1px solid var(--primary-400);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .name-avatar {
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-family) !important;
        font-weight: var(--fw-medium);
        color: var(--text-primary);
    }
}

.user-fullName {
    padding: 0 16px;
    font-weight: var(--fw-semi-bold);
    border-bottom: 1px solid var(--border-color) !important;
}

.menu-label {
    margin-left: 8px;
}

.account-btn {
    background-color: var(--primary-500) !important;
}
