.slick-dots li button:before {
    background-color: var(--white) !important;
    content: "" !important;
    height: 5px !important;
    width: 50px !important;
    opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
    background-color: var(--primary) !important;

}

.slick-dots li {
    width: 50px !important;

}

.slick-dots {
    bottom: 0 !important;

}