.wrapper {
    position: relative;
}
.inner {
    z-index: 100;
    width: 410px;
    padding: 8px;
    position: absolute;
    left: -100px;
    border-radius: 6px;
    background-color: var(--white);
    border: 1px solid var(--primary-500);

    .service-wrapper {
        &:hover {
            .category-name {
                transition: all 0.2s linear;
                background-color: var(--primary-500);
                color: var(--white);
                transition: all 0.2s linear;
            }
        }
    }
    .category-name {
        padding: 4px 12px;
        border-radius: 6px;
        user-select: none;
        cursor: default;
        h3 {
            font-size: 1.6rem;
        }
        transition: all 0.2s linear;
    }

    .service-list {
        list-style-type: none;
        padding-left: 8px;
        .service-item {
            user-select: none;
            padding: 4px 8px;
            transition: all 0.2s linear;
            border-radius: 6px;
            margin-top: 4px;
            cursor: default;
            span {
                font-size: 1.6rem;
                font-weight: var(--fw-medium);
            }
            &:hover {
                transition: all 0.2s linear;
                color: var(--primary-500);
                outline: 1px solid var(--primary-500);
            }
        }
    }
}
