@import "../../assets/scss/Global.scss";

@include responsive(mobile) {
    figure {
        .image-wrapper {
            width: 100% !important;
            height: 240px !important;
        }
    }
}

figure {
    .image-wrapper {
        width: 800px;
        height: 450px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    figcaption {
        text-align: center;
        padding: 4px 0;
        font-size: 1.6rem;
        margin-top: 2px;
        font-style: italic;
    }
}
