.modal-wrapper {
    padding: 12px;
    .policy-title {
        h2 {
            font-size: 2rem;
            text-align: center;
        }
    }

    .policy-list {
        padding-left: 12px;
    }
    .policy-item {
        padding: 4px 0;
    }
}
