.service-price {
    display: flex;
    align-items: center;
    .onsale-label {
        font-size: 1.2rem;
        color: var(--white);
        background-color: red;
        padding: 2px 4px;
        border-radius: 2px;
        margin-left: 4px;
        font-weight: var(--fw-medium);
    }

    .service-default-price {
        text-decoration: line-through;
        margin-right: 4px;
        font-size: 1.4rem;
    }
}

.service-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Giới hạn chỉ nằm trên 2 dòng */
    overflow: hidden;
}

.wrapper {
    margin-top: 24px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.wrapper-header {
    background-color: lavender;
    padding: 12px 24px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    .wrapper-left-header {
        display: flex;
        align-items: center;
        height: 100%;
        .title {
            display: block;
            font-size: 1.8rem;
            font-weight: var(--fw-semi-bold);
        }
    }

    .button-list {
        display: flex;
        align-items: center;
        button {
            margin-left: 8px;
        }
    }
    .label-editting {
        font-size: 2rem;
        font-weight: var(--fw-medium);
    }
}

.wrapper-body {
    margin-top: 12px;
    padding: 12px 16px 24px 16px;
}

.create-invoice-form {
    min-width: 500px;
    .select-customer-user {
        padding: 24px 0;
    }
}

.invoice-list-wrapper {
    .status_invoice {
        font-weight: var(--fw-medium);
        &.pending {
            background-color: #f57c00;
            color: var(--white);
            padding: 2px 8px !important;
            border-radius: 4px;
        }

        &.planned,
        &.received {
            background-color: #0288d1;
            color: var(--white);
            padding: 2px 8px !important;
            border-radius: 4px;
        }

        &.cancel {
            background-color: #d32f2f;
            color: var(--white);
            padding: 2px 8px !important;
            border-radius: 4px;
        }
        &.cancel-pending {
            background-color: rgb(206, 147, 216);
            color: var(--white);
            padding: 2px 8px !important;
            border-radius: 4px;
        }

        // Đang vận chuyển
        &.service-start {
            background-color: #1769aa;
            color: var(--white);
            padding: 2px 8px !important;
            border-radius: 4px;
        }

        // Đã hoàn thành
        &.service-completed {
            background-color: #2e7d32;
            color: var(--white);
            padding: 2px 8px !important;
            border-radius: 4px;
        }
    }
    .btn-list-header {
        // display: flex;
        button {
            margin-right: 8px;
        }
    }
}
