@import "../../../assets/scss/Global.scss";

@include responsive(mobile) {
    .selected-service {
        .selected-service-img {
            height: 80px !important;
            width: 80px !important;
        }
        .service-category {
        }
    }
}

.wrapper {
    border: 1px solid var(--border-color);
    padding: 12px;
    border-radius: 6px;
    background-color: var(--white);
}

.inner {
    .service-title {
        h2 {
            font-size: 2.4rem;
            font-weight: var(--fw-bold);
            color: var(--text-primary);
        }
    }
    .service-sub-title {
        p {
            font-size: 1.6rem;
            font-weight: var(--fw-normal);
            color: var(--text-secondary);
        }
    }
    .selected-service {
        display: flex;
        padding: 12px;
        background-color: var(--light-gray);
        border-radius: 6px;
        // align-items: center;
        .selected-service-img {
            width: 140px;
            height: 140px;
            border-radius: 12px;
            overflow: hidden;
            margin-right: 12px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .selected-service-content {
            flex: 1;
            .content-header {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                .service-category {
                    font-size: 1.4rem;
                    font-weight: var(--fw-normal);
                    color: var(--white);
                    background-color: var(--primary-500);
                    padding: 2px 10px;
                    border-radius: 100px;
                }
            }
            .service-title {
                h3 {
                    font-size: 1.8rem;
                    font-weight: var(--fw-bold);
                    padding: 8px 0;
                }
            }
            .service-price {
                font-size: 1.6rem;
                display: block;
                margin-bottom: 8px;
            }
        }
    }
    .note {
        .note-title {
            font-size: 1.8rem;
            font-weight: var(--fw-semi-bold);
        }
        .note-description {
            font-size: 1.6rem;
            padding: 0 16px;
            text-align: justify;
            font-weight: var(--fw-normal);
            color: var(--text-secondary);
            .polycies-guidelines-link {
                cursor: pointer;
                user-select: none;
                color: var(--info);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
