@media screen and (max-width: 767px) {
    .service-title {
        h3 {
            font-size: 1.6rem !important;
        }
    }

    .outstanding-service-inner {
        h2 {
        }
    }
}

.outstanding-service-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.outstanding-service-inner {
    width: calc(var(--default-layout-width) + 48px);
    padding: 0 24px;
    .title {
        text-align: center;
        text-transform: uppercase;
        color: var(--primary);
        display: inline-flex;
        align-items: center;
        b {
            display: block;
            height: 1px;
            opacity: 0.4;
            background-color: currentColor;
            flex: 1;
        }
        h2 {
            margin: 0 6px;
        }
    }

    .sub-title {
        display: inline-flex;
        justify-content: center;
        margin-bottom: 12px;

        p {
            width: 90%;
            text-align: center;
        }
    }

    .service-wrapper {
        position: relative;
        display: block;

        transition: all 0.2s linear;
        box-shadow: var(--primary-box-shadow) 0px 2px 8px;
        border-radius: 8px;
        &:hover {
            transform: translateY(-8px);
        }
        .service-img {
            width: 100%;
            height: 320px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                // border-radius: 28px;
            }
        }
        .service-title {
            // position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--primary);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 16px 0;
            transition: all 0.2s linear;
            h3 {
                font-size: 2rem;
                text-transform: uppercase;
            }

            .service-title-img {
                width: 44px;
                height: 44px;
                margin-right: 32px;
                padding: 4px;
                border-radius: 6px;
                border: 1px solid var(--white);
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .service-info {
            padding: 0 24px 24px 24px;
        }

        .service-see-detail {
            background-color: var(--primary-500);
            display: block;
            border-radius: 6px;
            padding: 8px 12px;
            text-align: center;
            font-size: 1.6rem;
            color: var(--white);
            transition: all 0.2s linear;

            &:hover {
                color: var(--primary);
                background-color: var(--white);
                box-shadow: var(--primary-box-shadow) 0px 2px 8px;
            }
        }
    }

    .outstanding-service-see-more {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        .see-more-btn {
            background-color: var(--primary-500);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white);
            padding: 8px 16px;
            border-radius: 6px;
            transition: all 0.2s linear;

            span {
                margin-right: 4px;
            }

            &:hover {
                background-color: var(--white);
                color: var(--primary);
                box-shadow: var(--primary-box-shadow) 0px 2px 8px;
            }
        }
    }
}
