.wrapper {
    padding: 12px;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    transition: background-color 0.2s ease-out;
    border-radius: 6px;

    &.isOpenFilterGroup {
        background-color: var(--white);
        transition: background-color 0.2s ease-in;
    }
}

.inner {
    max-height: 0;
    transition: max-height 0.25s ease-out, margin-top 0.15s ease-in,
        padding 0.15s ease-in;
    overflow: hidden;

    &.isOpenFilterGroup {
        margin-top: 12px;
        padding: 1px;
        border-radius: 6px;
        max-height: 500px;
        transition: max-height 0.3s ease-in, margin-top 0.15s ease-in,
            padding 0.15s ease-in;
    }
}

.filter-clear {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    .filter-clear-btn {
    }
}
