.wrapper {
    position: relative;
    height: 100%;
}

.inner {
    position: sticky;
    top: 124px;
    background-color: var(--white);
    border-radius: 6px;

    .payment-method {
        border: 1px solid var(--border-color);
        padding: 12px;
        border-radius: 6px;
    }
    .method-list {
        .method-item {
            border: 1px solid var(--border-color);
            border-radius: 6px;
            padding: 6px 4px;
        }
    }
}
