@media only screen and (max-width: 600px) {
}

.photo-model-wrapper {
    .photo-model-img {
        width: 100%;
        height: 200px !important;
    }
}
.photo-model-inner {
    // width: var(--default-layout-width);
    .photo-model-img {
        width: 100%;
        height: 500px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
