.wrapper {
    display: flex;
    justify-content: center;
}

.inner {
    width: var(--default-layout-width);
    padding-bottom: 24px;

    .back-btn {
        margin: 24px 0;
    }

    .detail-booked-form {
        border: 1px solid var(--border-color);
        border-radius: 6px;

        .form-header {
            background-color: lavender;
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .action-btn {
                display: flex;
                justify-content: flex-end;
                margin-right: 12px;
                button {
                    margin-left: 12px;
                }
            }
            .status {
                display: block;
                margin-right: 24px;
                font-weight: var(--fw-medium);
                .status-name {
                    &.pending {
                        background-color: #f57c00;
                        color: var(--white);
                        padding: 4px 12px;
                        border-radius: 4px;
                    }

                    &.received {
                        background-color: #0288d1;
                        color: var(--white);
                        padding: 4px 12px;
                        border-radius: 4px;
                    }

                    &.cancel {
                        background-color: #d32f2f;
                        color: var(--white);
                        padding: 4px 12px;
                        border-radius: 4px;
                    }

                    &.delivering {
                        background-color: #ab47bc;
                        color: var(--white);
                        padding: 4px 12px;
                        border-radius: 4px;
                    }

                    &.delivered {
                        background-color: #388e3c;
                        color: var(--white);
                        padding: 4px 12px;
                        border-radius: 4px;
                    }
                }
            }
        }

        .form-body {
            padding: 12px;
        }
    }
}
