@import "../../assets/scss/Global.scss";

@include responsive(mobile) {
    .user-info-comment {
        .avatar {
            height: 48px !important;
            width: 48px !important;
        }
    }
    .section-comment-title {
        h3 {
            font-size: 1.8rem !important;
        }
    }
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner {
    width: 100%;
    margin-top: 24px;

    .section-comment-title {
        h3 {
            font-size: 2.4rem;
            font-weight: var(--fw-semi-bold);
            color: var(--primary-500);
        }
    }
    .section-comment-description {
        font-weight: var(--fw-normal);
        font-size: 1.6rem;
        color: var(--text-secondary);
        margin-top: 8px;
    }
}

.user-info {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 20px;
    border-radius: 4px;
    .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.user-comment-list {
    font-size: 1.6rem;
    font-weight: var(--fw-medium);
    color: var(--text-primary);

    .user-comment {
        background-color: var(--light-gray);

        padding: 12px 16px;
        border-radius: 6px;

        .user-info-comment {
            display: flex;
            align-items: center;
            .avatar {
                height: 60px;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                background: var(--white);
                font-size: 2.4rem;
                font-weight: var(--fw-bold);
                margin-right: 12px;
            }

            .name {
                font-size: 1.8rem;
                font-weight: var(--fw-semi-bold);
                color: var(--text-primary);
            }
        }

        .user-content-comment-wrapper {
            .user-content-comment {
                padding: 12px 0;
                font-size: 1.6rem;
                font-weight: var(--fw-normal);
                color: var(--text-secondary);
                text-align: justify;
            }
            .user-footer-comment {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                .user-time-comment {
                    font-size: 1.4rem;
                    font-weight: var(--fw-normal);
                    color: var(--text-secondary);
                }
            }
        }
    }
}
