.wrapper {
}

.inner {
    .product-description-text {
        text-align: justify;
    }
    .product-description-image {
        width: 800px;
        height: 450px;
        overflow: hidden;
        border-radius: 6px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
