.wrapper {
    display: flex;
    justify-content: center;
}

.inner {
    width: calc(var(--default-layout-width) + 48px);
    padding: 12px 24px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.breadcrumb-item {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: var(--fw-normal);
    &.current {
        color: var(--primary);
    }
}
