.wrapper {
    background-color: var(--white);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: var(--primary-box-shadow) 0px 2px 8px;
}

.content-inner-navbar {
    margin: auto;
    width: var(--default-layout-width);
    padding: 8px 0;
    position: relative;
    // Menu list in navbar
    .menu-list {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // Border between item
        .border-between-item {
            border-right: #e3e2e2 2px solid;
            height: 24px;
        }
    }

    // Search Input
    .action-group {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.logo-wrapper {
    // padding: 8px 0;
    .logo {
        width: auto;
        height: 56px;
    }
}

// Component MenuItem
.menu-item-wrapper {
    // padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 0.16s linear;

    .menu-item {
        position: relative;
    }

    .dropdown-icon {
        transform: rotate(0);
        transition: all 0.16s linear;
    }
    &:hover {
        .title {
            color: var(--primary);
        }

        .dropdown-icon {
            transition: all 0.16s linear;
            transform: rotate(-180deg);
        }
    }

    .title {
        display: flex;
        align-items: center;
        // text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 600;
        transition: all 0.16s linear;
    }
}

.navlink-wrapper {
    // position: relative;
    height: 100%;
    width: 100%;
    .menu-item-wrapper {
        position: relative;
    }
    &.isDropDown:hover {
        .menu-item-wrapper {
            &.isDropDown::before {
                position: absolute;
                content: "";
                border-width: 12px 12px;
                border-style: solid;
                border-color: transparent transparent var(--primary) transparent;
                bottom: -12px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &.isDropDown:hover::after {
        position: absolute;
        content: "";
        width: 100%;
        left: 50%;
        height: 8px;
        transform: translateX(-50%);
    }
    &.isDropDown:hover {
        .menu-dropdown {
            display: block;
        }
        .title {
            color: var(--primary);
        }

        .dropdown-icon {
            transition: all 0.16s linear;
            transform: rotate(-180deg);
        }
    }
}

// Menu dropdown

.menu-dropdown {
    z-index: 1;
    display: none;
    padding: 12px;
    background-color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 6px;
    position: absolute;
    top: 100%;
    &:hover {
        .title {
            color: var(--primary);
        }

        .dropdown-icon {
            transition: all 0.16s linear;
            transform: rotate(-180deg);
        }
    }
}

.menu-dropdown-item-container {
    &:hover {
        .menu-parent-item {
            color: var(--primary);
            background-color: var(--primary-200);
        }

        .menu-parent-item.hasChild {
            color: var(--white);
            background-color: var(--primary);
        }
    }

    .menu-parent-item.hasChild {
        font-weight: 600;
    }
}

.menu-parent-item {
    display: block;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.2s linear;

    &.hasChild {
        margin-bottom: 4px;
    }

    &:hover {
        color: var(--primary);
        background-color: var(--primary-200);
    }
}

.menu-children-list {
    padding-left: 12px;
    .menu-children-item {
        display: block;
        padding: 8px 12px;
        border-radius: 6px;
        transition: all 0.2s linear;
        &:hover {
            background-color: var(--primary-200);
            color: var(--primary);
        }
    }
}

// Mobile & Tablet
.navbar-mobile-wrapper {
    display: flex;
    align-items: center;
}
.navbar-mobile-content {
    display: flex;
    justify-content: center;
    flex: 1;
}
.navbar-mobile-button {
}
.navbar-mobile-logo {
    height: 50px;
    width: auto;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

// Navbar left wrapper
.navbar-left {
    width: 320px;
    .navbar-header {
        display: flex;
        align-items: center;
        padding: 8px 0;

        .navbar-logo {
            flex: 1;
            display: flex;
            justify-content: center;
            img {
                width: 80px;
                height: 100%;
                object-fit: cover;
            }
        }
        .navbar-button {
        }
    }

    .navbar-body {
        padding: 0 16px;

        .navbar-search {
            display: flex;
            justify-content: center;
            margin-top: 12px;
            .search-icon {
                color: var(--primary-500);
            }
        }

        .menu-list-container {
            margin-top: 12px;
            .menu-item {
                // border-top: 1px solid var(--primary);
                div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                a {
                    flex: 1;
                    display: block;
                    padding: 12px 0 12px 20px;
                    font-weight: 500;
                }
                list-style: none;
                .arrow-icon {
                    transition: all 0.2s linear;
                }
                .arrow-icon.rotate {
                    transform: rotate(-180deg);
                    color: var(--white);
                }

                // Menu parent
                .menu-parent {
                    &:hover {
                        background-color: var(--primary-500);
                        border-radius: 12px;
                        color: var(--white);

                        .arrow-icon {
                            color: var(--white);
                        }
                    }
                }
                .menu-parent.isOpen {
                    background-color: var(--primary-500);
                    border-radius: 12px;
                    color: var(--white);
                    transition: all 0.2s linear;
                    margin-bottom: 4px;
                }

                // Options children
                .options-children {
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 1px;
                        left: 12px;
                        top: 8px;
                        bottom: 4px;
                        background-color: var(--primary-500);
                    }
                    li {
                        height: 0;
                        overflow: hidden;
                        padding-left: 12px;
                        transition: all 0.2s linear;
                        a {
                            padding: 8px 24px;
                            &:hover {
                                background-color: var(--primary-500);
                                border-radius: 12px;
                                color: var(--white);
                            }
                        }
                    }
                }

                .options-children.isOpen {
                    li {
                        height: 40px;
                    }
                }
            }
        }
    }
}

// Footer actions
.footer-actions {
    margin-top: 24px;
    padding: 0 16px;

    .call-action,
    .advise-action,
    .book-action {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-500);
        color: var(--white);
        width: 100%;
        padding: 8px 20px;
        text-align: center;
        font-weight: 500;
        font-size: 1.4rem;
        border-radius: 12px;
        span {
            margin-left: 4px;
        }
    }
}
