.salon-system-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0;
    background-color: var(--light-gray);
}

b {
    display: block;
    height: 1px;
    opacity: 0.4;
    background-color: currentColor;
    flex: 1;
}

.salon-system-inner {
    padding: 0 24px;
    width: 100%;

    .wrapper-appbar {
        border-radius: 6px;
        background-color: var(--white);
        box-shadow: var(--box-shadow);
    }
    .salon-system-see-more {
        display: flex;
        justify-content: center;

        .see-more-btn {
            background-color: var(--grey);
            color: var(--white);
            width: 200px;
            margin-top: 80px;
        }
    }

    .salon-system-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: var(--primary-500);
        h2 {
            margin: 0 6px;
            font-size: 2.4rem;
            font-weight: var(--fw-bold);
        }
    }

    .salon-system-sub-title {
        text-align: center;
        font-size: 1.6rem;
        font-weight: var(--fw-normal);
        .remind {
            display: block;
            text-transform: uppercase;
            color: var(--primary-500);
            font-weight: var(--fw-medium);
            margin-top: 12px;
            margin-bottom: 20px;
        }
    }

    .search-near-you {
        margin-bottom: 32px;
        display: flex;
        justify-content: center;
        a {
            background-color: var(--primary-500);
            color: var(--white);
            font-weight: var(--fw-medium);
            padding: 8px 20px;
            border-radius: 6px;
            transition: all 0.2s linear;
            &:hover {
                background-color: var(--white);
                color: var(--primary-500);
                box-shadow: var(--box-shadow);
            }
        }
    }
}

// Tab panel

.tabspanel-container {
    background-color: var(--primary-100);

    overflow: hidden;
}

.tabpanel-container {
}

.tab-panel {
    display: flex;
    padding: 24px;
}
.tabpanel-img {
    width: 140px;
    height: 140px;
    margin-right: 16px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.tabpanel-content {
    .address-name {
        font-size: 1.6rem;
        font-weight: var(--fw-semi-bold);
        color: var(--primary-500);
        margin-bottom: 8px;
    }
    .address-detail {
        font-size: 1.6rem;
        margin-bottom: 16px;
        font-weight: var(--fw-normal);
    }
    .address-map {
        color: var(--white);
        background-color: var(--primary-500);
        font-weight: var(--fw-medium);
        padding: 8px 16px;
        border-radius: 6px;
        transition: all 0.2s linear;

        &:hover {
            color: var(--primary-500);
            background-color: var(--white);
            box-shadow: var(--box-shadow);
        }
    }
}
