.method-bank-transfer {
    height: 0;
    overflow: hidden;
    transition: all 0.4s linear;
    padding: 0 12px;
    &.isChecked {
        height: 300px;
    }

    .qr-code {
        margin-top: 8px;
        // width: 160px;
        // height: 160px;
        img {
            height: 54%;
            width: 54%;
            object-fit: cover;
        }
    }
    .transfer-information-title {
        h3 {
            font-size: 2rem;
            font-weight: var(--fw-semi-bold);
        }
    }
    .information-title {
        font-size: 1.6rem;
        font-weight: var(--fw-medium);
        color: var(--gray);
    }
    .information-content {
        font-size: 1.6rem;
        font-weight: var(--fw-medium);
        color: var(--text-primary);
    }
}
