.wrapper {
    margin-top: 24px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.wrapper-header {
    background-color: lavender;
    padding: 12px 24px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    .wrapper-left-header {
        display: flex;
        align-items: center;
        .sale {
            margin-left: 12px;
            border: 1px solid red;
            display: flex;
            border-radius: 2px;
        }
        .sale-label {
            background-color: red;
            color: var(--white);
            font-size: 1.4rem;
            font-weight: var(--fw-medium);
            padding: 2px 4px;
        }
        .sale-desctiption {
            padding: 2px 6px;
        }
    }
    .user-avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid var(--info);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .button-list {
        display: flex;
        align-items: center;
        button {
            margin-left: 8px;
        }
    }
    .label-editting {
        font-size: 2rem;
        font-weight: var(--fw-medium);
    }
}

.wrapper-body {
    margin-top: 12px;
    padding: 12px 16px 24px 16px;
}
