@import "../../../assets/scss/Global.scss";

@include responsive(mobile) {
    .inner {
        padding: 12px 8px !important;
    }
    .table-header-name {
        font-size: 1.4rem !important;
    }
    .prod-infor-wrapper {
        display: flex;
        div {
            margin-right: 8px;
        }
    }
    .cart-product-image {
        width: 80px;
        height: 80px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .product-wrapper {
        align-items: center;

        .product-content {
            display: unset !important;
            .product-content-name {
                margin-bottom: 4px !important;
                display: block;
                width: 100% !important;
                font-size: 1.4rem !important;
                -webkit-line-clamp: 1 !important; /* Chỉ hiển thị tối đa 3 dòng */
            }

            .quantity-purchase {
                width: 100% !important;
            }

            .product-price {
                margin-top: 4px !important;
            }
        }
    }
}

.wrapper {
    margin-top: 24px;
}

.inner {
    background-color: var(--white);
    padding: 12px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    .cart-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cart-header-title {
            display: flex;
            align-items: center;
        }

        .product-quantity-limit {
            span {
                display: flex;
                align-items: center;
                font-style: italic;
            }
        }
    }

    .cart-product-image {
        width: 80px;
        height: 80px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .table-product-list {
        .unit_price {
            font-weight: var(--fw-medium);
            &.onsale {
                font-size: 1.4rem;
                text-decoration: line-through;
                margin-right: 4px;
                font-weight: var(--fw-normal);
            }
        }

        .unit_price_onsale {
            font-weight: var(--fw-medium);
        }

        .prod-name-mobile {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1; /* Giới hạn chỉ nằm trên 2 dòng */
            overflow: hidden;
        }
        .price-wrapper {
            margin-top: 4px;

            .prod-price-mobile {
                margin-top: 4px;
                font-size: 1.4rem;

                &.onsale {
                    text-decoration: line-through;
                    font-size: 1.3rem;
                    margin-right: 4px;
                }
            }
            .prod-sale-price-mobile {
            }
        }
    }
}

.prod-img {
    display: flex;
    align-items: center;
    position: relative;

    span {
        position: absolute;
        right: -30%;
    }
}
