.wrapper {
    border-radius: 6px;
    height: 100%;
    width: 100%;
    position: relative;
}

.inner {
    background-color: var(--white);
    position: sticky;
    top: 124px;
    border: 1px solid var(--border-color);
    border-radius: 6px;

    .payment-summary {
        padding: 12px;
        border-radius: 6px;
    }

    .payment-summary-title {
        h2 {
            font-size: 2.4rem;
            font-weight: var(--fw-bold);
            color: var(--text-primary);
        }
    }

    .payment-product {
        display: flex;

        .product-image {
            width: 64px;
            height: 64px;
            overflow: hidden;
            border-radius: 6px;
            margin-right: 16px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .product-info {
            .product-name {
                font-size: 1.6rem;
                font-weight: var(--fw-medium);
            }
            .product-price {
                font-size: 1.6rem;
                font-weight: var(--fw-semi-bold);
                &.onSale {
                    .product-price-default {
                        color: var(--gray);
                        font-weight: var(--fw-medium);
                        position: relative;
                        &::before {
                            position: absolute;
                            content: "";
                            top: 52%;
                            transform: translateY(-48%);
                            left: 0;
                            right: 0;
                            height: 1px;
                            background-color: var(--gray);
                        }
                    }
                    .product-price-onsale {
                        margin-left: 12px;
                    }
                }
            }
            .product-quantity {
            }
        }
    }

    .change-selection {
        font-weight: var(--fw-medium);
        padding: 4px 12px;
        border-radius: 6px;
        transition: background-color 0.2s linear;
        &:hover {
            background-color: var(--primary-300);
        }
    }

    .price-summary {
        padding: 12px;
        .discount-code {
            .discount-code-btn {
                height: 40px !important;
                box-shadow: unset !important;
            }
        }

        .signup-recommend {
            border-top: 1px solid var(--border-color);
            padding-top: 12px;
            margin-top: 12px;
            span {
                color: var(--text-primary);

                .signup-recommend-link {
                    position: relative;
                    transition: all 0.2s linear;
                    &::before {
                        position: absolute;
                        content: "";
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 1px;
                        background-color: var(--text-primary);
                        transition: all 0.2s linear;
                    }
                    &:hover {
                        color: var(--info);
                        &::before {
                            position: absolute;
                            content: "";
                            left: 0;
                            right: 0;
                            bottom: 0;
                            height: 1px;
                            background-color: var(--info);
                        }
                    }
                }
            }
        }
    }

    .subtotal,
    .discount,
    .shipment,
    .grand-total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: var(--fw-medium);
    }
    .subtotal {
        .subtotal-title {
            color: var(--gray);
        }
        .subtotal-price {
            font-size: 1.8rem;
            font-weight: var(--fw-bold);
            color: var(--text-primary);
        }
    }

    .discount {
        .discount-title {
            color: var(--gray);
        }
        .discount-price {
            color: var(--gray);
        }
    }

    .shipment {
        .shipment-title {
            color: var(--gray);
        }
        .shipment-price {
            color: var(--gray);
        }
    }

    .grand-total {
        font-size: 2rem;
        font-weight: var(--fw-bold);
        color: var(--text-primary);
        border-top: 1px solid var(--border-color);
        padding-top: 24px;
        .grand-total-title {
        }
        .grand-total-price {
        }
    }

    .temporary-price-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;

        .temporary-price-title {
        }
        .temporary-price {
        }
    }

    .total-price-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .total-price-title {
            font-size: 1.8rem;
            font-weight: var(--fw-bold);
        }
        .total-price {
            font-size: 1.8rem;
            font-weight: var(--fw-bold);
        }
    }

    .continue-payment {
    }
}
