.wrapper {
}

.inner {
    .info-title {
        h2 {
            font-size: 2.4rem;
            font-weight: var(--fw-bold);
            color: var(--text-primary);
        }
    }
    .info-sub-title {
        p {
            font-size: 1.6rem;
            font-weight: var(--fw-normal);
            color: var(--text-secondary);
        }
    }
}
