@import "../../../../assets/scss/Global.scss";

@include responsive(mobile) {
    .img {
        width: 100%;
        height: 240px !important;
    }

    .overview-wrapper {
        margin-bottom: 24px !important;
    }
}

.title {
    h2 {
        font-size: 2.4rem;
        font-weight: var(--fw-bold);
        color: var(--primary-500);
    }
}

.description {
    p {
        font-size: 1.6rem;
        font-weight: var(--fw-normal);
    }
}

.img {
    width: 100%;
    height: 600px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
