.home-footer-wrapper {
    background-color: var(--grey-medium);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.home-footer-inner {
    width: calc(var(--default-layout-width) + 48px);
    padding: 0 24px;
}
.store-wrapper {
    width: 100%;
    .store-img {
        display: flex;
        justify-content: center;

        img {
            width: 240px;
            height: 240px;
            object-fit: cover;
        }
    }
    .store-find {
        display: flex;
        justify-content: center;
        .store-find-btn {
            background-color: var(--primary);
            color: var(--white);
            padding: 8px 32px;
            border-radius: 4px;
            text-transform: uppercase !important;
            font-weight: var(--fw-medium) !important;
            transition: all 0.2s linear;

            &:hover {
                color: var(--primary);
                background-color: var(--white);
                box-shadow: var(--box-shadow);
            }
        }
    }
}

.footer-component {
    .component-title {
        font-size: 2rem;
        text-transform: uppercase;
        color: var(--white);
        display: block;
        margin-bottom: 12px;

        h4 {
            font-size: 2rem;
            font-weight: var(--fw-semi-bold);
        }
    }

    .list-of-component {
        list-style: none;
        font-size: 1.6rem;
        color: var(--white);
        .item-of-component {
            margin-bottom: 4px;
            font-weight: var(--fw-normal);

            a {
                padding: 2px 8px 2px 0;
                transition: all 0.12s linear;
                &:hover {
                    color: var(--primary);
                    transition: all 0.12s linear;
                }
            }
        }
    }
}

.social-list {
    .social-item {
        font-size: 4rem !important;
        color: var(--light-grey);
        margin-right: 8px;
        transition: all 0.12s linear;

        &:hover {
            transition: all 0.12s linear;
            color: var(--primary);
        }
    }
}

.receive-mail {
    .receive-mail-icon {
        color: var(--light-grey);
    }
}

.logo {
    img {
        height: 64px;
    }
}

.copy-right {
    display: flex;
    justify-content: center;
    color: var(--white);
    font-weight: var(--fw-light);
    font-size: 1.4rem;
    background-color: var(--grey-medium);
    padding: 4px 0;
}
