@media only screen and (max-width: 600px) {
    .price_total {
        display: block !important;
        .sub-total,
        .costs,
        .total {
            width: 100% !important;
        }
        font-size: 1.5rem !important;
    }
    .booking-header {
        .booking-code {
            font-size: 1.8rem !important;
        }
    }
    .info-item {
        font-size: 1.5rem !important;
    }
    .service-item {
        font-size: 1.5rem !important;
        font-weight: var(--fw-medium) !important;
    }

    .inner {
        width: 100% !important;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    padding: 24px 20px;
    background-color: var(--light-gray);
}

.inner {
    width: var(--default-layout-width);
}

.booking-wrapper {
    margin-top: 12px;
    padding-bottom: 12px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background-color: var(--white);

    .isRatedLabel {
        color: #2e7d32;
        font-style: italic;
    }

    .booking-header {
        background-color: lavender;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        border-bottom: 1px solid var(--border-color);
        .booking-code {
            font-size: 2rem;
            text-transform: uppercase;
            color: var(--text-primary);
        }
    }
    .booking-info,
    .booking-service-info,
    .booking-customer-info {
        border: 1px solid var(--border-color);
        border-radius: 6px;
        margin: 0 12px;
        h3 {
            font-weight: var(--fw-semi-bold);
        }
        .info-item {
            // Đã hủy
            .pending {
                background-color: #f57c00;
                color: var(--white);
                padding: 2px 8px !important;
                border-radius: 4px;
            }

            .scheduled,
            .received {
                background-color: #0288d1;
                color: var(--white);
                padding: 2px 8px !important;
                border-radius: 4px;
            }

            .cancel {
                background-color: #d32f2f;
                color: var(--white);
                padding: 2px 8px !important;
                border-radius: 4px;
            }
            .cancel-pending {
                background-color: rgb(206, 147, 216);
                color: var(--white);
                padding: 2px 8px !important;
                border-radius: 4px;
            }

            // Đang vận chuyển
            .service-start {
                background-color: #1769aa;
                color: var(--white);
                padding: 2px 8px !important;
                border-radius: 4px;
            }

            // Đã hoàn thành
            .service-end {
                background-color: #2e7d32;
                color: var(--white);
                padding: 2px 8px !important;
                border-radius: 4px;
            }
            span {
                // color: #1976d2;
                font-weight: var(--fw-medium);
            }
        }
    }
    .booking-info {
        padding: 8px 12px;
    }
    .booking-customer-info {
        padding: 8px 12px;
    }
    .booking-service-info {
        padding: 8px 12px 0 12px;
        .service_name {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /* Giới hạn chỉ nằm trên 2 dòng */
            overflow: hidden;
        }
        .table_service_info {
            .table_service_name {
                display: block;
                font-weight: var(--fw-medium);
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; /* Giới hạn chỉ nằm trên 2 dòng */
                overflow: hidden;
            }
            .table_service_quantity {
                display: block;
            }
            .table_service_price {
                display: block;
            }
        }
        .service-item {
            padding: 12px 0;
            .service-image {
                height: 40px;
                width: 40px;
                border-radius: 100px;
                overflow: hidden;
                outline: 1px solid var(--primary-300);
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .service-item:not(:first-child) {
            border-top: 1px solid var(--border-color);
        }
        .price_total {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            border-top: 1px solid var(--border-color);
            padding: 4px 0;
            .sub-total,
            .costs,
            .total {
                width: 240px;
                display: flex;
                justify-content: space-between;
            }
            .costs {
            }
            .total {
                border-top: 1px solid var(--border-color);
                font-weight: var(--fw-medium);
            }
        }
    }
}
