@media only screen and (max-width: 600px) {
    .shop-page-inner {
        width: 100% !important;
        .product-list {
            padding-top: unset !important;
        }
    }
}

.shop-page-wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--light-gray);
}

.shop-page-inner {
    width: calc(var(--default-layout-width) + 24px);
    padding: 0 12px 40px 12px;

    .product-list {
        padding-top: 24px;
    }

    .category-filter-mobile {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        .category-filter-btn {
            font-size: 1.4rem !important;
        }
    }
}
