@import "../../../assets/scss/Global.scss";

@include responsive(mobile) {
    .category-list {
        width: 300px;
        overflow: auto;
        padding: 4px;

        a {
            flex-shrink: 0;
            font-size: 1.2rem !important;
        }
    }
    .category-list-title {
        flex-shrink: 0;
        h3 {
            font-size: 1.4rem !important;
        }
    }
}
.product-wrapper {
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    width: 100%;
}
.product-inner {
    width: 100%;
    padding-top: 12px;

    .category-list-wrapper {
        display: flex;
        align-items: center;
        height: 40px;
        .category-list {
            display: flex;
            align-items: center;
        }
        .category-list-title {
            h3 {
                font-size: 1.6rem;
                font-weight: var(--fw-semi-bold);
                margin-right: 12px;
            }
        }
        a {
            transition: all 0.2s linear;
            padding: 4px 8px;
            border-radius: 2px;
            font-weight: var(--fw-medium);
            color: var(--text-primary);
            margin-right: 6px;
            font-size: 1.6rem;
            &:hover {
                outline: 1px solid var(--primary-500);
                color: var(--primary-500);
            }
        }

        .isActive {
            outline: 1px solid var(--primary-500);
            color: var(--primary-500);
        }
    }

    .product-item {
        transition: all 0.2s linear;

        &:hover {
            box-shadow: var(--box-shadow);
        }
        background-color: var(--white);
        border-radius: 6px;

        .product-item-img {
            width: 100%;
            height: 240px;
            overflow: hidden;
            border-radius: 6px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .product-item-info {
            padding: 20px 12px;
            .product-name {
                font-size: 1.8rem;
                font-weight: var(--fw-semi-bold);
                color: var(--text-primary);
                transition: all 0.2s linear;

                &:hover {
                    color: var(--primary-500);
                }
            }
            .product-price {
                margin-top: 8px;
                .product-price-default {
                    text-decoration: line-through;
                    margin-right: 12px;
                }

                .product-price-del {
                }
            }

            .rating-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 8px;
                span {
                    font-size: 1.2rem;
                }
            }

            .add-to-cart-btn {
                margin-top: 12px;
                a {
                    display: block;
                    border: 1px solid var(--primary-500);
                    text-align: center;
                    padding: 6px 0;
                    border-radius: 100px;
                    font-weight: var(--fw-medium);
                    transition: all 0.2s linear;
                    &:hover {
                        background-color: var(--primary-500);
                        color: var(--white);
                    }
                }
            }
        }
    }
}
