.label-info {
    font-size: 1.6rem;
    font-weight: var(--fw-medium);
    color: rgba(0, 0, 0, 0.8);
}

.content-info {
    font-size: 1.6rem;
    color: var(--text-primary);
    font-weight: var(--fw-semi-bold);
}
