.wrapper {
    background-color: var(--grey);
}

.inner {
    margin: auto;
    width: var(--default-layout-width);
    display: flex;
    justify-content: flex-end;
}

// CSS Action Item
.action-item {
    display: flex;
    align-items: center;
    color: var(--white);
    padding: 4px 8px;
    &:hover {
        .action-item__label {
            transition: all 0.1s linear;
            color: var(--primary-500);
        }
    }

    & + .action-item {
        margin-left: 2px;
    }
}

.action-item__icon {
    display: flex;
    align-items: center;
}
.action-item__label {
    display: block;
    font-size: 1.2rem;
    margin-left: 4px;
    transition: all 0.1s linear;
}
