@import "../../../assets/scss/Global.scss";

@include responsive(mobile) {
    .articles-drawer {
        .article-category-title {
            span {
                margin-left: 40px !important;
            }
        }
    }
}

// Article
.article-category {
    border: 1px solid var(--primary-500);
    margin-top: 24px;
    .article-category-title {
        height: 40px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 12px;
        background-color: var(--primary-200);
        span {
            display: block;
            font-weight: var(--fw-medium);
            font-size: 2rem;
            color: var(--primary-500);
        }
    }
    .article-category-link {
        list-style: none;
        height: 0;
        transition: all 0.2s linear;
        overflow: hidden;

        &.isOpen {
            height: 450px;
            overflow: auto;
            padding: 12px 12px;
        }

        li {
            transition: all 0.2s linear;
            padding: 4px 8px 4px 0;

            span {
                transition: all 0.2s linear;
                cursor: pointer;
                user-select: none;
                &:hover {
                    text-decoration: underline;
                    color: var(--primary-500);
                }

                &.active {
                    color: var(--primary-500);
                }
            }
        }
    }
}

// article Drawer

.articles-drawer {
    .article-category {
        margin-top: unset;
        border: unset;
    }
    .article-category-title {
        display: flex;
        justify-content: unset;
        position: relative;

        p {
            color: var(--primary-500);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-size: 2rem;
            font-weight: var(--fw-semi-bold);
        }
    }
    .article-category-link {
        height: unset;
        padding: 24px 12px;
    }
}
