.modal-wrapper {
    width: 100%;
    position: relative;

    .modal-header {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--light-gray);
        padding: 12px;
        border-bottom: 1px solid var(--border-color);
        border-radius: 6px;
    }

    .modal-body {
        padding: 80px 8px 12px 8px;
    }
}
