.wrapper {
}

.inner {
    .customer-info,
    .service-info {
        border: 1px solid var(--border-color);
        padding: 6px 8px;
        border-radius: 6px;
    }
    .confirm-title {
        h2 {
            font-size: 2.4rem;
            font-weight: var(--fw-bold);
            color: var(--text-primary);
        }
    }
    .confirm-sub-title {
        p {
            font-size: 1.6rem;
            font-weight: var(--fw-normal);
            color: var(--text-secondary);
        }
    }
    .note {
        .note-title {
            font-size: 1.6rem;
            font-weight: var(--fw-medium);
        }
        .note-description {
            font-size: 1.5rem;
            padding: 0 16px;
            text-align: justify;
            font-weight: var(--fw-normal);
            color: var(--text-secondary);
            .polycies-guidelines-link {
                color: var(--info);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .thanks {
        font-size: 1.5rem;
        text-align: justify;
    }
    .contact-info {
        width: 100%;
    }
}
