.wrapper {
    background-color: var(--white);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

// Mobile & Tablet
.navbar-mobile-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0 12px;
}
.navbar-mobile-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex: 1;
}
.navbar-mobile-button {
}
.navbar-mobile-logo {
    height: 50px;
    width: auto;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

// Navbar left wrapper
.navbar-left {
    width: 320px;

    .navbar-header {
        position: relative;
        display: flex;
        align-items: center;
        padding: 4px 0;
        background-color: var(--primary-300);
        .navbar-logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            flex: 1;
            display: flex;
            justify-content: center;
            img {
                width: 80px;
                height: 100%;
                object-fit: cover;
            }
        }
        .navbar-button {
            margin-left: auto;
        }
    }

    .navbar-body {
        position: relative;
        padding: 0 16px;
        height: 500px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            border-radius: 0;
            width: 6px;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 100px;
            background-color: var(--border-color);
        }

        &::-webkit-scrollbar-track {
            border-radius: 0;
            border-radius: 100px;
            background-color: transparent;
        }
        .navbar-user {
            margin-top: 12px;
            padding: 8px 8px 12px;
            border: 1px solid var(--border-color);
            border-radius: 4px;
            .user-avatar {
                display: flex;
                align-items: center;
                flex-direction: column;
                .user-avatar-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid var(--primary-400);
                    border-radius: 100px;
                    font-weight: var(--fw-semi-bold);
                    padding: 4px;
                    width: 40px;
                    height: 40px;
                }

                .user-fullName-wrapper {
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    .user-fullName {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        left: 50%;
                        height: 100%;
                        transform: translateX(-50%);
                        white-space: nowrap;
                        top: 0;
                        margin-top: 2px;
                        font-weight: var(--fw-medium);
                    }
                }
            }
        }
    }
}

// Footer actions
.footer-actions {
    padding: 6px 16px 24px 16px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    .call-action,
    .advise-action {
        border: 1px solid var(--primary-400);
        color: var(--primary-500);
    }
}
