.wrapper {
    background-color: var(--white);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    box-shadow: var(--box-shadow);
}

// Mobile & Tablet
.navbar-mobile-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0 12px;
}
.navbar-mobile-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex: 1;
}
.navbar-mobile-button {
}
.navbar-mobile-logo {
    height: 50px;
    width: auto;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

// Navbar left wrapper
.navbar-left {
    width: 320px;

    .navbar-header {
        position: relative;
        display: flex;
        align-items: center;
        padding: 8px 0;

        .navbar-logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            flex: 1;
            display: flex;
            justify-content: center;
            img {
                width: 80px;
                height: 100%;
                object-fit: cover;
            }
        }
        .navbar-button {
            margin-left: auto;
        }
    }

    .navbar-body {
        padding: 0 16px;
        height: 500px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            border-radius: 0;
            width: 6px;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 100px;
            background-color: var(--border-color);
        }

        &::-webkit-scrollbar-track {
            border-radius: 0;
            border-radius: 100px;
            background-color: transparent;
        }
        .navbar-search {
            display: flex;
            justify-content: center;
            margin-top: 12px;
            .search-icon {
                color: var(--primary-500);
            }
        }
    }
}

// Footer actions
.footer-actions {
    margin: 24px 0 36px 0;
    padding: 0 16px;

    .call-action,
    .advise-action,
    .book-action {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-500);
        color: var(--white);
        width: 100%;
        padding: 8px 20px;
        text-align: center;
        font-weight: var(--fw-medium);
        font-size: 1.4rem;
        border-radius: 12px;
        span {
            margin-left: 4px;
        }
    }
}
//
.menu-list {
    list-style: none;
    margin-top: 12px;
}

.menu-item-container {
    margin-top: 2px;
    .menu-item {
        height: 44px;

        a {
            flex: 1;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            font-weight: var(--fw-medium);
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 12px;
        border-radius: 12px;
        transition: all 0.2s linear;
        &.isOpen {
            background-color: var(--primary-500);
            color: var(--white);
        }

        &:hover {
            background-color: var(--primary-500);
            color: var(--white);

            .icon-arrow {
                color: var(--white);
            }
        }
    }
}

.sub-menu-list {
    list-style: none;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        top: 2px;
        bottom: 2px;
        width: 1px;
        background-color: var(--border-color);
        left: 12px;
    }

    &.isOpen {
        .sub-menu-item-container {
            margin-top: 2px;
            height: 44px;
        }
    }

    .sub-menu-item-container {
        height: 0;
        overflow: hidden;
        margin-left: 20px;
        transition: all 0.2s linear;
    }
    .sub-menu-item-container.isOpen {
        background-color: var(--primary-500);
        color: var(--white);
    }

    .sub-menu-item {
        height: 44px;
        &:hover {
            background-color: var(--primary-500);
            color: var(--white);
            .icon-arrow {
                color: var(--white);
            }
        }
        a {
            flex: 1;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            font-weight: var(--fw-medium);
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 12px;
        border-radius: 12px;
        transition: all 0.2s linear;
        &.isOpen {
            color: var(--primary-500);
            .icon-arrow.rotate {
                color: var(--primary-500);
            }
            &:hover {
                background-color: initial;
                color: var(--primary-500);
            }
        }
    }
}

.sub-sub-menu-list {
    position: relative;
    &.parentClose {
        li {
            height: 0;
        }
    }
    &::before {
        position: absolute;
        content: "";
        top: 2px;
        bottom: 2px;
        width: 1px;
        left: 36px;
        background-color: var(--border-color);
    }
    li {
        height: 0;
        overflow: hidden;
        padding-left: 16px;
        transition: all 0.2s linear;
        a {
            padding: 8px 12px;
            &:hover {
                background-color: var(--primary-500);
                border-radius: 12px;
                color: var(--white);
            }
        }
    }

    &.isOpen {
        li {
            height: 44px;
        }
    }

    list-style: none;
    .sub-sub-menu-item-container {
        margin-left: 28px;
        display: flex;
        align-items: center;
        a {
            flex: 1;
            width: 100%;
        }
    }
    .sub-sub-menu-item {
    }
}
.open-menu-btn {
    transition: all 0.2s linear !important;

    &.rotate {
        transform: rotate(-180deg);
    }
}

.open-chil-btn {
    transition: all 0.2s linear !important;
    &.rotate {
        transform: rotate(-180deg);
    }
}
.icon-arrow {
    &.rotate {
        color: var(--white);
    }
}
