.wrapper {
    background-color: var(--white);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

// Mobile & Tablet
.navbar-mobile-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0 12px;
}
.navbar-mobile-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex: 1;
}
.navbar-mobile-button {
}
.navbar-mobile-logo {
    height: 50px;
    width: auto;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

// Navbar left wrapper
.navbar-left {
    width: 320px;

    .navbar-header {
        position: relative;
        display: flex;
        align-items: center;
        padding: 8px 0;

        .navbar-logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            flex: 1;
            display: flex;
            justify-content: center;
            img {
                width: 80px;
                height: 100%;
                object-fit: cover;
            }
        }
        .navbar-button {
            margin-left: auto;
        }
    }

    .navbar-body {
        padding: 0 16px;
        height: 500px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            border-radius: 0;
            width: 6px;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 100px;
            background-color: var(--border-color);
        }

        &::-webkit-scrollbar-track {
            border-radius: 0;
            border-radius: 100px;
            background-color: transparent;
        }
        .navbar-search {
            display: flex;
            justify-content: center;
            margin-top: 12px;
            .search-icon {
                color: var(--primary-500);
            }
        }
    }
}

// Footer actions
.footer-actions {
    margin: 24px 0 36px 0;
    padding: 0 16px;

    .call-action,
    .advise-action,
    .book-action {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-500);
        color: var(--white);
        width: 100%;
        padding: 8px 20px;
        text-align: center;
        font-weight: var(--fw-medium);
        font-size: 1.4rem;
        border-radius: 12px;
        span {
            margin-left: 4px;
        }
    }
}
