.product-portfolio-wrapper {
    // box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: var(--light-grey);
}
.product-portfolio-inner {
    margin-top: 32px;
    .nav-tabs {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 24px 12px 24px 12px;
        border-bottom: 2px solid #000;
        .separate-order {
            border-right: 1px solid #e3e2e2;
        }
    }
    .nav-tabs-title {
        color: #999999;
        cursor: pointer;
        &.isActive {
            font-size: 1.8rem;
            color: var(--black);
            cursor: default;
        }
        h3 {
            font-size: 2rem;
        }
    }
}
