.method-e-wallet {
    height: 0;
    overflow: hidden;
    transition: all 0.4s linear;
    padding: 0 12px;
    &.isChecked {
        height: 200px;
    }

    .e-wallet-information-title {
        h3 {
            font-size: 2rem;
            font-weight: var(--fw-semi-bold);
        }
    }
    .information-title {
        font-size: 1.6rem;
        font-weight: var(--fw-medium);
        color: var(--gray);
    }
    .information-content {
        font-size: 1.6rem;
        font-weight: var(--fw-medium);
        color: var(--text-primary);
    }
}
