@media only screen and (max-width: 600px) {
    .product-container {
        .product-img {
            height: 180px !important;
            &:hover {
                & img {
                    transform: scale(1.05);
                }
            }

            img {
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.2s linear;
            }
        }
        .product-content {
            margin-top: 8px;
            padding: 0 8px 8px 8px !important;
            .product-category {
                width: 100% !important;
                display: inline-flex !important;
                justify-content: center !important;
                align-items: center !important;

                span {
                    font-size: 1.2rem !important;
                    text-align: center !important;
                    background-color: var(--primary-box-shadow);
                    padding: 2px 12px !important;
                    border-radius: 50px;
                    margin-top: 4px;
                }
            }
            .product-name {
                font-size: 1.4rem !important;
                font-weight: 500;
                min-height: 58px !important;
                margin-top: 4px !important;
                padding: 8px 0;
                transition: all 0.2s linear;
                a {
                    display: block;
                }
                &:hover {
                    color: var(--primary);
                }
            }
            .product-price-container {
                margin-top: 0 !important;
                color: var(--primary);
                font-weight: 500 !important;
                font-size: 1.4rem !important;

                .product-price {
                }
            }

            .product-rating-container {
                display: unset !important;
                align-items: center;
                justify-content: space-between;
                margin-top: 12px;
                .product-rating {
                }
                .product-sold {
                    font-size: 1.2rem !important;
                }
            }
        }
    }
}

.outstanding-product-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}
.outstanding-product-inner {
    width: calc(var(--default-layout-width) + 48px);
    padding: 0 24px;

    .title {
        text-align: center;
        text-transform: uppercase;
        color: var(--primary);
        display: inline-flex;
        align-items: center;
        b {
            display: block;
            height: 1px;
            opacity: 0.4;
            background-color: currentColor;
            flex: 1;
        }
        h2 {
            margin: 0 6px;
            font-size: 2.4rem;
            font-weight: var(--fw-bold);
        }
    }

    .sub-title {
        display: inline-flex;
        justify-content: center;
        margin-bottom: 12px;

        p {
            width: 80%;
            text-align: center;
            font-style: italic;
            font-weight: var(--fw-normal);
        }
    }
}

// see more button
.outstanding-product-see-more {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    .see-more-btn {
        background-color: var(--primary-500);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        padding: 8px 16px;
        border-radius: 6px;
        transition: all 0.2s linear;

        span {
            margin-right: 4px;
        }

        &:hover {
            background-color: var(--white);
            color: var(--primary);
            box-shadow: var(--box-shadow);
        }
    }
}
