.popup {
    height: 160px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login {
        margin-top: 8px;
        color: var(--primary-500);
        font-weight: var(--fw-medium);
        transition: all 0.2s linear;

        &:hover {
            color: var(--info);
            text-decoration: underline;
            transition: all 0.2s linear;
        }
    }
}
