.banner-img,
.breadcrumb-wrapper {
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.breadcrumb-wrapper {
    padding: 12px 0;
    .breadcrumb {
        width: calc(var(--default-layout-width) + 48px);
        padding: 0 24px;
    }
}
