@media only screen and (max-width: 600px) {
    .inner {
        width: 100% !important;
    }
    .service-link-img {
        width: 100px !important;
        height: 100px !important;
    }

    .service-img {
        width: 100%;
        height: 240px !important;
    }
}

.wrapper {
    background-color: var(--light-gray);
}

.wrapper-service {
    display: flex;
    justify-content: center;
    position: relative;
}

.inner {
    width: calc(var(--default-layout-width) + 24px);
    padding: 12px;
    .col-9-left {
        background-color: var(--white);
        padding: 12px;
        border-radius: 6px;
        height: 100%;
    }

    .col-3-right {
        height: 100%;
    }
}

// -----------------------------------------------------------------------------------------------------------
// General
.service-img {
    width: 100%;
    height: 470px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

p {
    line-height: 1.6;
    color: var(--text-secondary);
}
// Start: Introduce Service -------------------------

// Introduce service
.introduce-service-wrapper {
    .introduce-service-title {
        h1 {
            font-size: 2.8rem;
            font-weight: var(--fw-bold);
            color: var(--primary-500);
        }
    }
    .introduce-service-blockquote {
        border: 1px solid var(--primary-500);
        border-left: 6px solid var(--primary-500);

        padding: 12px 24px;
        border-radius: 24px;
        margin: 12px 0 24px 0;
        p {
            font-size: 1.6rem;
            font-weight: var(--fw-normal);
            color: var(--text-secondary);
            text-align: justify;
        }
    }
}

.caption-img {
    display: block;
    text-align: center;
    padding: 8px 0;
    // border-left: 1px solid var(--primary-500);
    // border-right: 1px solid var(--primary-500);
    // border-bottom: 1px solid var(--primary-500);
    color: var(--white);
    background-color: var(--primary-500);
    font-style: italic;
}

// Article
.article-category {
    border: 1px solid var(--primary-500);
    margin-top: 24px;
    .article-category-title {
        height: 40px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 12px;
        background-color: var(--primary-200);
        span {
            display: block;
            font-weight: var(--fw-medium);
            font-size: 2rem;
            color: var(--primary-500);
        }
    }
    .article-category-link {
        list-style: none;
        height: 0;
        transition: all 0.2s linear;
        overflow: hidden;

        &.isOpen {
            height: 450px;
            overflow: auto;
            padding: 12px 12px;
        }

        li {
            // height: 0;
            // overflow: hidden;
            transition: all 0.2s linear;
            padding: 4px 8px 4px 0;

            a {
                transition: all 0.2s linear;
                &:hover {
                    text-decoration: underline;
                    color: var(--primary-500);
                }
            }
        }
    }
}

// Reason - lý do chọn dịch vụ
.service-reason {
    .service-reason-title {
        h2 {
            font-size: 2.4rem;
            font-weight: var(--fw-semi-bold);
            color: var(--primary-500);
            margin-top: 12px;
        }
    }
    .service-reason-content {
        p {
            font-size: 1.6rem;
            font-weight: var(--fw-normal);
            color: var(--text-secondary);
            text-align: justify;
        }
    }
}

// End: Introduce Service ---------------------------

// Start: Service List ---------------------------
.service-list-wrapper {
    .service-list-title {
        h2 {
            font-size: 2.4rem;
            color: var(--primary-500);
            font-weight: var(--fw-semi-bold);
            margin-top: 24px;
        }
    }
    .service-list-description {
    }
    .service-item-wrapper {
        .service-item-title {
            h2 {
                font-size: 2rem;
                color: var(--primary-500);
                font-weight: var(--fw-medium);
                margin-top: 24px;
            }
        }
        .service-item-part-article {
            p {
                color: var(--text-secondary);
                font-weight: var(--fw-normal);
                text-align: justify;
            }
        }
    }
}

// End: Service List -----------------------------

// Start: Tips List -----------------------------

.tips-list-wrapper {
    .tips-list-title {
        h2 {
            font-size: 2.4rem;
            color: var(--primary-500);
            font-weight: var(--fw-semi-bold);
        }
    }
    .tips-list-description {
    }
    .tips-item-wrapper {
        .tips-item-title {
            h2 {
                font-size: 2rem;
                color: var(--primary-500);
                font-weight: var(--fw-medium);
                margin-top: 24px;
            }
        }
        .tips-item-description {
        }
    }
}

// End: Tips List -------------------------------

// Start: Service Rating -------------------------------
.service-rating {
    margin-top: 24px;
    .service-rating-title {
        display: block;
        font-size: 1.6rem;
        color: var(--text-primary);
        font-weight: var(--fw-semi-bold);
        margin-bottom: 8px;
    }
}

// End: Service Rating ---------------------------------

// Start: Recommend ---------------------------------
.recommend-wrapper {
    margin-top: 32px;
    .recommend-title {
        h2 {
            font-size: 2.4rem;
            font-weight: var(--fw-semi-bold);
            color: var(--primary-500);
        }
    }
    .recommend-link-list {
        margin-left: 24px;
        li {
            a {
                font-size: 1.6rem;
                font-weight: var(--fw-normal);
                // color: var(--text-secondary);
                color: var(--blue);
                transition: all 0.2s linear;
                &:hover {
                    color: var(--primary-500);
                }
            }
        }
    }
}

// End: Recommend -----------------------------------
