@media only screen and (max-width: 600px) {
    .status-content {
        &.pending {
            background-color: #f57c00;
            color: var(--white);
            padding: 2px 8px !important;
            border-radius: 4px;
        }

        &.product-waiting,
        &.received {
            background-color: #0288d1;
            color: var(--white);
            padding: 2px 8px !important;
            border-radius: 4px;
        }

        &.cancel {
            background-color: #d32f2f;
            color: var(--white);
            padding: 2px 8px !important;
            border-radius: 4px;
        }
        &.cancel-pending {
            background-color: rgb(206, 147, 216);
            color: var(--white);
            padding: 2px 8px !important;
            border-radius: 4px;
        }

        // Đang vận chuyển
        &.delivering {
            background-color: #1769aa;
            color: var(--white);
            padding: 2px 8px !important;
            border-radius: 4px;
        }

        // Đã hoàn thành
        &.delivered {
            background-color: #2e7d32;
            color: var(--white);
            padding: 2px 8px !important;
            border-radius: 4px;
        }
    }

    .prod-wrapper {
        // flex: 1;
        display: unset !important;
    }

    .prod-image {
        width: 40px !important;
        height: 40px !important;
        border-radius: 100px;
        overflow: hidden;
        border: 1px solid var(--primary-400);
        margin-right: 12px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .prod-invoice-detail {
        align-items: unset !important;
    }
    .invoice-item-footer {
        padding: 8px !important;
    }

    .prod-label {
        font-size: 1.5rem !important;
    }
    .prod-price {
        font-size: 1.5rem !important;
    }

    .prod-name {
        font-size: 1.5rem !important;
    }

    .prod-quantity {
        font-size: 1.5rem !important;
    }
}

.wrapper {
}

.inner {
    .invoice-item {
        background-color: var(--white);
        border: 1px solid var(--border-color);
        border-radius: 4px;

        .product_name {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /* Giới hạn chỉ nằm trên 2 dòng */
            overflow: hidden;
        }
        .table_product_info {
            .table_product_name {
                display: block;
                font-weight: var(--fw-medium);
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; /* Giới hạn chỉ nằm trên 2 dòng */
                overflow: hidden;
            }
            .table_product_quantity {
                display: block;
            }
            .table_product_price {
                display: block;
            }
        }
    }

    .invoice-item-header {
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .invoice-item-createdAt {
            .createdAt-label {
            }
            .createdAt-content {
                font-weight: var(--fw-medium);
                color: var(--success);
            }
        }

        .invoice-item-status {
            .status-label {
            }
            .status-content {
                font-weight: var(--fw-medium);
                font-size: 1.4rem;
                &.pending {
                    background-color: #f57c00;
                    color: var(--white);
                    padding: 2px 8px !important;
                    border-radius: 4px;
                }

                &.product-waiting,
                &.received {
                    background-color: #0288d1;
                    color: var(--white);
                    padding: 2px 8px !important;
                    border-radius: 4px;
                }

                &.cancel {
                    background-color: #d32f2f;
                    color: var(--white);
                    padding: 2px 8px !important;
                    border-radius: 4px;
                }
                &.cancel-pending {
                    background-color: rgb(206, 147, 216);
                    color: var(--white);
                    padding: 2px 8px !important;
                    border-radius: 4px;
                }

                // Đang vận chuyển
                &.delivering {
                    background-color: #1769aa;
                    color: var(--white);
                    padding: 2px 8px !important;
                    border-radius: 4px;
                }

                // Đã hoàn thành
                &.delivered {
                    background-color: #2e7d32;
                    color: var(--white);
                    padding: 2px 8px !important;
                    border-radius: 4px;
                }
            }
        }
    }

    .invoice-item-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 12px;
        .invoice-item-priceTotal {
            .priceTotal-label {
            }
            .priceTotal-content {
                font-size: 1.6rem;
                font-weight: var(--fw-semi-bold);
            }
        }
    }

    .prod-invoice-detail {
        padding: 12px;
        display: flex;
        align-items: center;
        width: 100%;
        .prod-wrapper {
            flex: 1;
            display: flex;
            justify-content: space-between;
            .prod-price {
                span {
                    font-size: 1.5rem;
                    margin-right: 4px;
                    font-weight: var(--fw-normal);
                }
                font-weight: var(--fw-medium);
                margin-right: 36px;
            }
        }
        .prod-image {
            width: 80px;
            height: 80px;
            border-radius: 100px;
            overflow: hidden;
            border: 1px solid var(--primary-400);
            margin-right: 12px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .prod-content {
            display: flex;
            flex-direction: column;
            .prod-quantity,
            .prod-name {
                margin-left: 4px;
                font-weight: var(--fw-medium);
            }
        }
    }
}
.no-invoice {
    text-align: center;
}
