@media only screen and (max-width: 600px) {
    .inner {
        width: 100% !important;
    }
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--light-gray);
    // padding: 24px;
}

.inner {
    width: calc(var(--default-layout-width));
}
