.wrapper {
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner {
    width: 600px;
    padding: 8px 0;
    .slider {
        display: flex;
        align-items: center;
        .slider-item {
            text-align: center;
            font-style: italic;
            h5 {
                font-size: 1.6rem;
                font-weight: 400;
            }
        }
    }
}
