@import "normalize.css";
// @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700&display=swap&subset=vietnamese");

:root {
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --secondary: #f4f5f7;
    --success: #00f2c3;
    --neutral: #ffffff;
    --darker: black;
    --green: #2dce89;
    --dark-green: #0c3000;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #32325d;
    --grey: #303030;
    --grey-medium: #4c4c4c;
    // --light-grey: #f1f1f1;
    --light-gray: #f8f8fa;
    --border-color: #e2e2e1;
    --info: #1d8cf8;
    --warning: #ff8d72;
    --danger: #fd5d93;
    --light: #adb5bd;
    --dark: #212529;
    --default: #344675;
    --white: #ffffff;
    // --light: #ced4da;
    // --lighter: #e9ecef;
    // --primary: #f0570b;
    // --primary: #f15e2c;
    // --primary-bold: #ab003c;
    --primary: #f50057;
    --primary-500: #f73378;
    --primary-400: #f3a4b5;
    --primary-box-shadow: #fdb8c7;
    --primary-300: #fde7eb;
    --primary-200: #ffeef1;
    --primary-100: #fcf3f5;
    --text-primary: #212121;
    --text-secondary: #424242;
    --box-shadow: var(--primary-box-shadow) 0px 1px 4px;
    // --light-gray: #f6f4f1;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --color-text-field: #006778;
    // --font-family: "Plus Jakarta Sans", sans-serif;
    --font-family: "Quicksand", sans-serif;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1280px;
    --default-layout-horizontal-spacer: 24px;
}

// Variable
$spacing: 4px;

// -- margin
@mixin mt($multiplier, $important: false) {
    margin-top: $multiplier * $spacing;

    @if $important {
        margin-top: $multiplier * $spacing !important;
    }
}

@mixin mr($multiplier, $important: false) {
    margin-right: $multiplier * $spacing;
    @if $important {
        margin-right: $multiplier * $spacing !important;
    }
}

@mixin mb($multiplier, $important: false) {
    margin-bottom: $multiplier * $spacing;
    @if $important {
        margin-bottom: $multiplier * $spacing !important;
    }
}

@mixin ml($multiplier, $important: false) {
    margin-left: $multiplier * $spacing;
    @if $important {
        margin-left: $multiplier * $spacing !important;
    }
}

@mixin m($top, $right, $bottom, $left, $important: false) {
    margin: $top * $spacing $right * $spacing $bottom * $spacing $left *
        $spacing;
    @if $important {
        margin: $top *
            $spacing
            $right *
            $spacing
            $bottom *
            $spacing
            $left *
            $spacing !important;
    }
}

// -- padding
@mixin pt($multiplier, $important: false) {
    padding-top: $multiplier * $spacing;

    @if $important {
        padding-top: $multiplier * $spacing !important;
    }
}

@mixin pr($multiplier, $important: false) {
    padding-right: $multiplier * $spacing;
    @if $important {
        padding-right: $multiplier * $spacing !important;
    }
}

@mixin pb($multiplier, $important: false) {
    padding-bottom: $multiplier * $spacing;
    @if $important {
        padding-bottom: $multiplier * $spacing !important;
    }
}

@mixin pl($multiplier, $important: false) {
    padding-left: $multiplier * $spacing;
    @if $important {
        padding-left: $multiplier * $spacing !important;
    }
}

@mixin p($top, $right, $bottom, $left, $important: false) {
    padding: $top * $spacing $right * $spacing $bottom * $spacing $left *
        $spacing;
    @if $important {
        padding: $top *
            $spacing
            $right *
            $spacing
            $bottom *
            $spacing
            $left *
            $spacing !important;
    }
}

// --responsive
@mixin responsive($breakpoint) {
    @if $breakpoint == desktop {
        @media (min-width: 1024px) {
            @content;
        }
    }

    @if $breakpoint == tablet {
        @media (min-width: 768px) and (max-width: 1023px) {
            @content;
        }
    }

    @if $breakpoint == mobile {
        @media (max-width: 767px) {
            @content;
        }
    }
}

// ------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
    &::selection {
        color: var(--text-primary);
    }
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 100px;
    // background-image: linear-gradient(to bottom, #ffa400, #00aefd);
    background-color: var(--primary-400);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    border-radius: 100px;

    background-color: var(--primary-300);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

// fonts embeded
@font-face {
    font-family: ProximaNova;
    src: url("/assets/fonts/Proxima-Nova-Bold.woff");
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url("/assets/fonts/Proxima-Nova-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url("/assets/fonts/ProximaNova-Semibold.woff2");
    font-weight: 600;
}

@font-face {
    font-family: SofiaPro;
    src: url("/assets/fonts/sofiapro-bold.woff2");
    font-weight: 700;
}

// custom Tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 22px;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }
}

// Override css Button

// CSS checkbox
.MuiSvgIcon-root {
    font-size: 2rem !important;
}

.MuiTypography-body1 {
    font-size: 1.6rem !important;
    user-select: none !important;
}

.MuiOutlinedInput-adornedStart {
    padding-left: 4px !important;
}

.MuiOutlinedInput-root {
    // border-radius: 50px !important;
}

.MuiSvgIcon-fontSizeLarge {
    font-size: 3rem !important;
}

.MuiFormControlLabel-root {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.MuiRadio-colorPrimary.Mui-checked {
    color: var(--primary-500) !important;
}
.MuiTypography-body1 {
    font-size: 1.4rem !important;
    font-family: var(--font-family) !important;
}

span.MuiChip-label {
    font-size: 1.4rem !important;
    font-family: var(--font-family) !important;
}

.MuiTab-textColorPrimary.Mui-selected {
    color: #fff !important;
    background: var(--primary-500);
}

.MuiTab-textColorSecondary {
    font-size: 1.6rem !important;
    text-transform: unset !important;
    font-family: var(--font-family) !important;
    border-radius: 4px !important;
    margin-right: 8px !important;
    min-height: 40px !important;
    color: var(--primary-500) !important;
    transition: all 0.2s linear !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    &:hover {
        color: var(--primary-500) !important;
        border: 1px solid var(--primary-500) !important;
    }
    &.Mui-selected {
        border: 1px solid var(--primary-500) !important;
        color: var(--primary-500) !important;
        background-color: var(--white) !important;
    }
}

.MuiTabs-flexContainer {
    justify-content: center !important;
}
.MuiTab-textColorPrimary {
    font-size: 1.6rem !important;
    text-transform: unset !important;
    font-family: var(--font-family) !important;
    border: 1px solid var(--primary-500) !important;
    border-radius: 50px !important;
    margin-right: 8px !important;
    min-height: 40px !important;
    color: var(--primary-500) !important;
    transition: all 0.2s linear !important;

    &:hover {
        color: #fff !important;
        background: var(--primary-500);
    }
}

.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorDefault.MuiPaper-elevation4 {
    box-shadow: unset !important;
    background-color: transparent;
}

.MuiTabs-fixed {
    overflow-x: auto !important;
}

.MuiInputBase-input:not(input[type="number"]) {
    font-size: 1.6rem !important;
    font-weight: var(--fw-normal) !important;
    font-family: var(--font-family) !important;
    color: var(--text-primary) !important;
}

.MuiInputBase-root {
    font-size: 2rem !important;
    fieldset {
        // background-color: var(--white) !important;
    }
    input {
        background-color: var(--white) !important;
    }
}
.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-filled:not(
        .Mui-focused
    ) {
    font-size: 1.6rem !important;
    // padding-top: 2px !important;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-filled {
    padding-top: 2px !important;
}

.MuiInputLabel-root {
    font-size: 2rem !important;
    font-family: var(--font-family) !important;
    font-weight: var(--fw-medium) !important;
    &.Mui-focused {
        color: var(--color-text-field) !important;
    }
}
.MuiInputLabel-root:not(.Mui-focused) {
    color: var(--text-primary) !important;
}

.MuiInputBase-root.MuiFilledInput-root::after {
    border-bottom: unset !important;
}
.MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline {
    background-color: var(--white) !important;
}
.MuiInputBase-root.MuiFilledInput-root:hover:not(
        .Mui-disabled,
        .Mui-error
    ):before {
    border-bottom: unset !important;
}
.MuiInputBase-root.MuiFilledInput-root::before {
    border-bottom: unset !important;
}
.MuiInput-underline:after {
    border-bottom-color: var(--color-text-field) !important;
}

.Mui-focused fieldset {
    border-color: var(--color-text-field) !important;
}

.MuiButtonBase-root.MuiButton-root {
    font-family: var(--font-family) !important;
    font-weight: var(--fw-medium) !important;
    font-size: 1.6rem !important;
    text-transform: unset !important;
}
.MuiFormControl-root {
    label {
        font-size: 1.6rem !important;
    }
}
.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-filled {
    font-size: 1.8rem !important;
}
.MuiAutocomplete-popper.MuiPoper-root {
    font-size: 1.6rem !important;
}

.MuiAutocomplete-listbox {
    font-size: 1.6rem !important;
    font-family: var(--font-family) !important;
    font-weight: var(--fw-medium) !important;
    color: var(--text-primary) !important;
}

.MuiFilledInput-root {
    border: 1px solid #e2e2e1 !important;
    overflow: hidden !important;
    border-radius: 4px !important;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    &:hover {
        background-color: var(--white) !important;
    }
    &.Mui-focused {
        background-color: transparent !important;
        box-shadow: rgba(25, 118, 210, 0.25) 0 0 0 2px !important;
        border-color: #1976d2 !important;
    }
}

// Step
.MuiStepLabel-label {
    font-size: 1.4rem !important;
    font-weight: var(--fw-medium);
    color: var(--text-primary);
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root {
    width: 2rem !important;
    height: 2rem !important;

    .MuiStepIcon-text {
        font-size: 1.4rem !important;
    }
}

// Datepicker

.MuiPickersCalendarHeader-label {
    font-size: 1.6rem !important;
}

.MuiDayCalendar-header {
    span {
        font-size: 1.4rem !important;
    }
}
.MuiPickersDay-root.MuiPickersDay-dayWithMargin {
    font-size: 1.4rem !important;
}

// pagination
.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-circular.MuiPaginationItem-page {
    font-size: 1.4rem !important;
    font-family: var(--font-family) !important;
}

.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-circular.Mui-selected.MuiPaginationItem-page {
    background-color: var(--primary-300) !important;
}

.MuiButtonBase-root.MuiChip-root.MuiChip-filled.MuiChip-sizeSmall.MuiChip-colorDefault.MuiChip-deletable.MuiChip-deletableColorDefault.MuiChip-filledDefault.MuiAutocomplete-tag {
    margin: 6px 2px 2px 2px !important;
}

@include responsive(mobile) {
    .MuiTabs-flexContainer {
        justify-content: unset !important;
    }
}
.MuiTabs-scroller.MuiTabs-fixed {
    padding: 12px 16px !important;
}
